@charset 'utf-8';
@import 'settings';
@import 'foundation';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-close-button;
@include foundation-off-canvas;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;



$color1: #FDFDFD;
$color2: #586172;
$color3: rgba(214,221,219,.4);
$color4: #87C94C;
$color5: #A7ACB5;
$color6: rgba(0,0,0,.3);
$color7: #000000;
$font1: 'Patua One', cursive;
$font2: 'Roboto', sans-serif;
$font3: 'Shadows Into Light Two', cursive;
$border: 15px solid $color2;


body {
  background-color: $color1;
}
a, a:visited, a:hover, a:active  {
  color: $color4;
  font-weight: bold;
  outline: 0;
}


h1,h2,h3,h4 {
  font-family: $font1;
}

h1 {
  font-size: 2.25rem;
  margin-top: 2.25rem;
  width: 90vw;
}

h3 {
  font-size: 2.25rem;
  line-height: 3.375rem;
  text-align: center;
  color: $color1;
}

h4 {
  font-size: 1.5rem;
  text-align: center;
}
p {
  font-family: $font2;
}

ul {
  list-style-type: none;
}
button {
  width: 60%;
  margin-left: 20%;
  height: 5.063rem;
  border: 3px solid $color4;

  outline: 0;
  overflow: hidden;
  position: relative;

  span {
    z-index: 20;
  }

  &:after {
    background: $color4;
    content: "";
    height: 155px;
    left: -100px;
    top: -35px;
    opacity: .2;
    position: absolute;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 60px;
    z-index: 10;
  }
  &:hover {

    &:after {
      left: 250px;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}
//removes horizontal scrolling in mobile
.row .row {
  max-width: 102.5%;
  padding-top: 0.663rem;
}
.close-button {
  border: 0px solid transparent;
  width: 2.25rem;
}

.off-canvas.position-left {
  width: 100%;
  left: -100%;

}
.is-open-left {
  transform:translateX(100%);
}

.off-canvas p {
  padding: 7.094rem .64rem 0 .64rem;
}
.emailForm {
  height: 100vh;
    input {
      width: 80%;
    }

  input[type=submit] {
    float: right;
    width: 100%;
    height: 5.063rem;
    background-color: $color1;
    border: 0px solid $color4;
    font: bold 1.5rem/1 $font2;
    color: $color4;
    position: relative;
  }

  div p:nth-of-type(1) {
    padding-top: 11.391rem;
  }
}
li:before {
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.5rem; // same as padding-left set on li
  width: 2.25rem; // same as padding-left set on li
  font-size: 1.5rem;
}
header {
  background-color: $color3;
  padding-bottom: 2.25rem;
  border-bottom: $border;
  height: 100vh;
  overflow: hidden;

  div.row {
    background-color: $color7;
    font-size: .667rem;

    div a {
      font-size: .75rem;
      line-height: 2.25rem;
    }

    div a i {
      font-size: 2.25rem;
      text-align: center;
    }

    span {
      display: none;
    }
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.75rem;
    margin-left: 10%;
    width: 90vw;
  }

  ul {
    margin-top: 1.5rem;
  }
  li {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-left: 5%;

  }

  li:nth-of-type(1):before {
    content: "\f002"; // FontAwesome Unicode
    margin-right: -.2rem;
  }

  li:nth-of-type(2):before {
    content: "\f201"; // FontAwesome Unicode
    margin-left: -1.7rem;
  }

  li:nth-of-type(3):before {
    content: "\f1ec"; // FontAwesome Unicode
    margin-right: -.200 rem;
  }


  div.medium-6 a:nth-of-type(1) {
    font-size: 1.5rem;
    color: $color1;
    button {
      background-color: $color4;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;

      &:after {
        background: $color1;
      }

    }

  }
  div.medium-6:nth-of-type(3) {
    display: none;
  }
}

#points {
  padding: 2.25rem ;
  div {
    border: 2px solid $color2;
    padding: 0;

    h3 {
      display: block;
      position: relative;
      z-index: 30;
      width: 100%;
      height: 3.5rem;
      background-color: $color6;
    }
    img {
      position: relative;
      z-index: 10;
      top: -4rem;
      width: 100%;
    }
    p {
      position: relative;
      top: -2.25rem;
      padding: 0 5%;
      margin-bottom: -3.375rem;
    }

  }
  button {
    margin: 0 20%;
    position: relative;
    top: 2rem;
    background-color: $color1;
  }

  a {
    font-size: 1.5rem;
    color: $color4;
  }

  div.medium-6:nth-of-type(2) {
    margin-top: 5.063rem;
  }
}

#benefits {
  text-align: center;
  .row {
    padding-top: 0;
  }
  h3 {
    color: $color7;
    line-height: 2.25rem;
  }
  p:nth-of-type(1) {
    margin-bottom: 0;
    padding: 0 5%;

  }
  a {
    text-decoration: underline;
  }
  div {
    padding: 3.375rem 5% 0 5%;

    i {
      color: $color2;
      font-size: 3.375rem;
    }

    hr {
      border: 0;
      height: 2px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $color2, rgba(0, 0, 0, 0));
    }

    p {
      text-align: left;
    }
    ul {
      margin-left: -.663rem;
    }

    li {
      padding-top: .4rem;

    }
      li:before {
        content: "\f155"; // FontAwesome Unicode
        margin-left: -.663rem; // same as padding-left set on li
        width: 1.1rem; // same as padding-left set on li
        font-size: .663rem;
      }

      .secondList:before {
        content: "\f046"; // FontAwesome Unicode
      }

  }
  .row:nth-of-type(3) {
    margin-bottom: 5.063rem;
  }
 }

#reviews {
  background-color: $color3;
  padding-top: 2.25rem;
  border-top: $border;
  border-bottom: $border;
//Slick Carousel styles
  .single-item {
    width: 100%;
    overflow: hidden;
  }
  button {
    border: none;
    color: transparent;
    overflow: visible;

  }
  //Previous Button
  button:nth-of-type(1):after {
    display: none;
    background: transparent;
    opacity: 1;
    content: "\f0d9"; // FontAwesome Unicode
    font-family: FontAwesome;
    color: $color4;
    font-size: 7.594rem;
    position: relative;
    z-index: 100;
    top: 40vh;
    left: -80%;
  }
  //Next Button
  button:nth-of-type(2):after {
    display: none;
    background: transparent;
    opacity: 1;
    content: "\f0da"; // FontAwesome Unicode
    font-family: FontAwesome;
    color: $color4;
    font-size: 7.594rem;
    position: relative;
    z-index: 100;
    top: -30vh;
    left: 60%;
  }
  h4 {
    font-size: 2.25rem;
    margin-bottom: -3.375rem;
  }
  div {
    width: 100%;


    p {
      width: 75%;
      margin-left: 12.5%;

      font: italic 1.5rem/1.25 $font2;
    }

    img:nth-of-type(1) {
      position: relative;
      z-index: 10;
      width: 250px;
      border-radius: 50%;
      margin: 0 2.25rem;
    }
    img:nth-of-type(2) {
      position: relative;
      z-index: 50;
      width: 75px;
      top: -3.375rem;
      left: 11.391rem;
    }

    .signature {
      margin-top: -5.063rem;
      padding-top: 1.5rem;
      text-align: center;
      font-family: $font3;
    }
    .companyRole {
      text-align: right;
      padding-right: 10%;
      font: 1rem/1 $font2;
    }

  }
  .slick-track{
    margin-bottom: -2rem;
    outline: none;
  }

  .fa-arrows-h {
    margin: -7.094rem 30% 0 33%;
    color: $color4;
    font-size: 7.594rem;
  }

}

#form {
  border-bottom: $border;
  padding-bottom: 5.063rem;


  form  {
    width: 90%;
    margin: 0 0 -3.375rem 5%;
    padding-top: 2.25rem;
    border: 2px solid $color2;
  }
  h4 {
    padding-top: 2.25rem;
  }
  p {
    padding:0 2.25rem;

  }

  label {
    padding-left: 15%;
  }
  input {
    width: 80%;
  }

  input[type=submit] {


    width: 100%;
    height: 5.063rem;
    background-color: $color4;
    border: 3px solid $color4;
    font: bold 1.5rem/1 $font2;
    color: $color1;
    position: relative;
  }
  button{
    margin-left: 20%;
    top: 2.25rem;
    font: bold 1rem/1 $font2;
    color: $color4;
    &:after {
      background: $color4;
    }
  }
  button:nth-of-type(1) {

    &:after {
      background: $color1;
    }
  }
  div p:nth-of-type(1) {
    padding-top: 11.391rem;
  }
}

footer {
  background-color: $color7;
  padding-top: 3.375rem;
  font-size: 1.5rem;

  #contact {
    padding-bottom: 3.375rem;
    ul {
      padding-left: 10%;
    }
    li:nth-of-type(3){
      color: $color1;
    }

  }

  #social {
    padding-bottom: 3.375rem;

    li {
      display: inline;
      padding-left: .663rem;
    }
    li:nth-of-type(1) {
      padding-left: 1em;
    }
    i {
      font-size: 3.375rem;
    }
    span {
      display: none;
    }

  }

  nav {
    padding-bottom: 3.375rem;

    ul {
      padding-left: 15%;
      ul li{
        margin-left: -15%;
      }
    }


  }

  #copy {
    text-align: center;
    font-size: .663rem;
    color: $color1;
  }
}
@media screen and (min-width: 768px) {

  html {
    font-size: 130%;
  }

  button {
    &:hover {
      &:after {
        left: 400px;
      }
    }
  }
  header {
    height: 95vh;

    div.row div a i {
      display: none;
    }

    div.row span {
      display: block;
      color: $color1;
      padding-top: 0;
      font-size: 1.25rem;
    }
    h1 {
      font-size: 3rem;
      margin-left: 10%;
      width: 80vw;
      position: relative;
      z-index: 100;
    }
    h2 {
      width: 70vw;
      position: relative;
      z-index: 100;
    }

    ul {
      width: 70vw;
      margin-left: 10%;
    }

    div.medium-6:nth-of-type(3) {
      display: block;
      margin-top: 25vh;
      position: relative;
      z-index: 10;

      img {
        miv-width: 400px;
        max-width: 600px;
        position: absolute;

      }
    }
  }

  #points {
    margin-top: 2.25rem;
    margin-bottom: 5rem;

    div.medium-6:first-child {
      margin-left: -1rem;
    }

    div.medium-6:last-child {
      margin-right: -1rem;
      margin-top: 0;
    }
  }

  #reviews {
    padding-top: 3.375rem;
    height: 100vh;

    .slick-track {
      margin-bottom: 0;
    }
      div {

        img:nth-of-type(1) {
          margin: 0 20%;

        }
        img:nth-of-type(2) {
          left: 40%;
          padding-bottom: 2.25rem;
        }
        p:nth-of-type(2) {
          margin-left: 10%;
        }

      }

    //Previous Button
    button:nth-of-type(1):after {
      display: inline;
    }
    //Next Button
    button:nth-of-type(2):after {
      display: inline;
    }

    .fa-arrows-h {
      display: none;
    }
  }

  #form {

    form {
      width: 70%;
      margin-left: 15%;
      input {
        width: 90%;

      }
    }

    .second {
      width: 40%;
      margin-left: 30%;
    }
  }

  footer {
    font-size: 1rem;

    #contact {
      text-align: center;


      li:nth-of-type(3) {
        padding-top: 1.5rem;
      }
    }

    #social {
      li {
        display: block;
      }

      li:nth-of-type(1) {
        padding-left: .663rem;
      }
      
      span {
        display: inline;
      }
    }

    nav {
      ul {
        ul li {
          margin-left: -30%;
        }
      }
    }
  }
}

@media screen and (min-width: 975px) {

  #reviews {
    div {

      img:nth-of-type(1) {
       margin-left: 5.063rem;

      }
      img:nth-of-type(2) {
        left: 19rem;
      }
      p:nth-of-type(2) {
        margin-left: 10%;
      }

    }
  }

  #contact {
    text-align: left;

    li:nth-of-type(3) {
      padding-top: .663rem;
    }
  }

}

@media screen and (min-width: 1025px) {
  button {
    &:hover {
      &:after {
        left: 600px;
      }
    }
  }


  #form {
    form {
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
    }
    p {
      width: 60%;
      margin-left: 20%;
    }
    .second {
      width: 30%;
      margin-left: 35%;
    }
  }

  #reviews {
    div {

      img:nth-of-type(1) {
        width: 500px;
        margin-left: 20%;

      }
      img:nth-of-type(2) {
        width: 150px;
        margin-left: 15%;
      }
      p:nth-of-type(2) {
        margin-left: 0%;
      }
    }
  }

}