@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';




@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;


$color1: #FDFDFD;
$color2: #586172;
$color3: rgba(214,221,219,.4);
$color4: #87C94C;
$color5: #A7ACB5;
$color6: rgba(0,0,0,.3);
$color7: #000000;
$font1: 'Patua One', cursive;
$font2: 'Roboto', sans-serif;
$font3: 'Shadows Into Light Two', cursive;
$border: 15px solid $color2;


body {
  background-color: $color1;
}
a, a:visited, a:hover, a:active  {
  color: $color4;
  font-weight: bold;
  outline: 0;
}


h1,h2,h3,h4 {
  font-family: $font1;
}

h1 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2.25rem;
  line-height: 3.375rem;
  text-align: center;
  color: $color1;
}

h4 {
  font-size: 1.5rem;
  text-align: center;
}
p {
  font-family: $font2;
}

ul {
  list-style-type: none;
}
button {
  width: 11.391rem;
  height: 5.063rem;
  border: 3px solid $color4;

  outline: 0;
  overflow: hidden;
  position: relative;

  span {
    z-index: 20;
  }

  &:after {
    background: $color4;
    content: "";
    height: 155px;
    left: -100px;
    top: -35px;
    opacity: .2;
    position: absolute;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 60px;
    z-index: 10;
  }
  &:hover {

    &:after {
      left: 250px;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}
//removes horizontal scrolling in mobile
.row .row {
  max-width: 102.5%;
}
.close-button {
  border: 0px solid transparent;
  width: 2.25rem;
}

.off-canvas p {
  padding: 7.094rem .64rem 0 .64rem;
}
.emailForm {
    input {
      width: 11.391rem;

    }


  input[type=submit] {
    float: right;

    width: 11.391rem;
    height: 5.063rem;
    background-color: $color1;
    border: 0px solid $color4;
    font: bold 1.5rem/1 $font2;
    color: $color4;
    position: relative;
  }
  button:nth-of-type(1) {
    margin-left: 2.25rem;


    &:after {
      background: $color4;
    }
  }
  div p:nth-of-type(1) {
    padding-top: 11.391rem;
  }
}

header {
  background-color: $color3;
  padding-bottom: 2.25rem;
  border-bottom: $border;

  div.row {
    background-color: $color7;
    font-size: .667rem;

    div a {
      font-size: .75rem;
      line-height: 2.25rem;
    }

    div a i {
      font-size: 2.25rem;
      text-align: center;
    }

    span {
      display: none;
    }
  }

  h2 {
    font-size: 1.5em;
  }
  li {
    font-size: 1.5rem;

  }

  li:before {
    content: "\f0d6"; // FontAwesome Unicode
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3rem; // same as padding-left set on li
    width: 1.3rem; // same as padding-left set on li
    font-size: 1rem;

  }

  div.medium-6 button {
    margin-left: 2.25rem;
  }
  div.medium-6 a:nth-of-type(1) {
    font-size: 1.5rem;
    color: $color1;
    button {
      background-color: $color4;
      margin-bottom: 1.5rem;

      &:after {
        background: $color1;
      }

    }

  }
  div.medium-6:nth-of-type(3) {
    display: none;
  }
}

#points {
  padding: 2.25rem ;
  div {
    border: 2px solid $color2;
    padding: 0;
    overflow: hidden;


    h3 {
      display: block;
      position: relative;
      z-index: 30;
      width: 100%;
      height: 3.375rem;
      background-color: $color6;
    }
    img {
      position: relative;
      z-index: 10;
      top: -4rem;
      width: 100%;
    }
    p {
      position: relative;
      top: -2.25rem;
      padding: 0 1.5rem;
    }

  }
  button {
    margin: 0 4.75rem;
    position: relative;
    top: -2.25rem;
    background-color: $color1;
  }
  a {
    font-size: 1.5rem;
    color: $color4;
  }
}

#benefits {
  text-align: center;
  h3 {
    color: $color7;
  }
  p:nth-of-type(1) {
    margin-bottom: 0;
    padding: 0 1rem;

  }
  a {
    text-decoration: underline;
  }
  div {
    padding: 3.375rem 5.063rem 0 5.063rem;

    i {
      color: $color2;
      font-size: 3.375rem;
    }

    hr {
      border: 0;
      height: 2px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $color2, rgba(0, 0, 0, 0));
    }

    p {
      text-align: left;
    }
    ul {
      margin-left: -.663rem;
    }
  }
  div:nth-of-type(8) {
    padding-bottom: 3.375rem;
  }
}

#reviews {
  background-color: $color3;
  border-top: $border;
  border-bottom: $border;
//Slick Carousel styles
  .single-item {
    width: 100%;
    overflow: hidden;
  }
  button {
    border: none;
    color: transparent;
    overflow: visible;

  }
  //Previous Button
  button:nth-of-type(1):after {
    background: transparent;
    opacity: 1;
    content: "\f0d9"; // FontAwesome Unicode
    font-family: FontAwesome;
    color: $color4;
    font-size: 7.594rem;
    position: relative;
    z-index: 100;
    top: 35rem;
    left: -50%;
  }
  //Next Button
  button:nth-of-type(2):after {
    background: transparent;
    opacity: 1;
    content: "\f0da"; // FontAwesome Unicode
    font-family: FontAwesome;
    color: $color4;
    font-size: 7.594rem;
    position: relative;
    z-index: 100;
    top: -17rem;
    left: 110%;
  }
  h4 {
    font-size: 2.25rem;
    margin-bottom: -3.375rem;
  }
  div {
    width: 100%;


    p {
      width: 75%;
      margin-left: 12.5%;
      font: italic 1.5rem/1.25 $font2;
    }

    img:nth-of-type(1) {
      position: relative;
      z-index: 10;
      border-radius: 50%;
      margin: 0 5.063rem;
    }
    img:nth-of-type(2) {
      position: relative;
      z-index: 50;
      top: -5.063rem;
      left: 11.391rem;
    }

    p:nth-of-type(2) {
      margin-top: -5.063rem;
      padding-top: 1.5rem;
      text-align: center;
      font-family: $font3;
    }
    p:nth-of-type(3){
      text-align: right;
      padding-right: 2.25rem;
      font: 1rem/1 $font2;
    }

  }
}

#form {
  border-bottom: $border;

  form  {
    width: 90%;
    margin: 0 0 -3.375rem 5%;
    padding-top: 2.25rem;
    border: 2px solid $color2;
  }
  h4 {
    padding-top: 2.25rem;
  }
  p {
    padding: 1.5rem 2.25rem 0 2.25rem ;
  }
  label {
    padding-left: 15%;
  }
  input {
    width: 80%;
  }

  input[type=submit] {
    float: right;

    width: 11.391rem;
    height: 5.063rem;
    background-color: $color4;
    border: 3px solid $color4;
    font: bold 1.5rem/1 $font2;
    color: $color1;
    position: relative;
  }
  button:nth-of-type(1) {

    &:after {
      background: $color1;
    }
  }
  div p:nth-of-type(1) {
    padding-top: 11.391rem;
  }

  button {
    margin: 0 0 5.063rem 25%;
    font: bold 1rem/1 $font2;
    color: $color4;
    &:after {
      background: $color4;
    }
  }
}

footer {
  background-color: $color7;
  padding-top: 3.375rem;
  font-size: 1.5rem;

  #contact {
    padding-bottom: 3.375rem;
    ul {
      padding-left: 10%;
    }
    li:nth-of-type(3){
      color: $color1;
    }

  }

  #social {
    padding-bottom: 3.375rem;

    li {
      display: inline;
      padding-left: .663rem;
    }
    li:nth-of-type(1) {
      padding-left: 1em;
    }
    i {
      font-size: 3.375rem;
    }
    span {
      display: none;
    }

  }

  nav {
    padding-bottom: 3.375rem;

    ul {
      padding-left: 15%;
      ul li{
        padding-left: -15%;
      }
    }


  }

  #copy {
    text-align: center;
    font-size: .663rem;
    color: $color1;
  }
}